@import "../../assets/global.scss";
.mainDiv {
  display: flex;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 100vh;
  .formDiv {
    box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(146, 146, 146);
    padding: 20px;
    align-items: center;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: rgb(233, 233, 233);
    }
    h1 {
      font-family: "Alan Sans";
    }
    h2 {
      font-weight: 300;
      margin: 10px 0px;
    }
    .flex_buttons {
      display: flex;
      a {
        @include greyButton;
      }
    }
  }
}
