@import "../../assets/global.scss";

.main {
  width: 100%;
  h1 {
    font-weight: 300;
    font-family: "Alan Sans";
  }
  .info_user {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    .label {
      font-size: 18px;
      font-family: "Barlow Condensed";
    }
    .value {
      font-family: "Barlow Condensed";
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
  .change_info_user {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    h2 {
      margin: 0;
      font-weight: 300;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        font-size: 18px;
        font-family: "Barlow Condensed";
      }
      input {
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        margin-bottom: 5px;
      }
      button {
        background-color: rgb(71, 71, 71);
        width: max-content;
        border: 1px solid rgb(71, 71, 71);
        padding: 10px;
        border-radius: 10px;
        color: white;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: white;
          color: rgb(71, 71, 71);
          border: 1px solid rgb(71, 71, 71);
        }
      }
    }
  }
}
