@import "../../assets/global.scss";
@import "../../assets/fonts.scss";
.main {
  @include mainContainer;
  flex-direction: column;
  width: 1280px;
  .navbar_profile {
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    background-color: rgb(102, 102, 102);
    button {
      color: rgb(202, 202, 202);
      margin: 5px 10px;
      border-radius: 5px;
      padding: 10px;
      border: none;
      background-color: none;
      font-size: 18px;
      font-family: "Arimo";
      transition: 0.3s ease-in-out;
      border-bottom: 1px solid transparent;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      &:hover {
        border-bottom-color: rgb(202, 202, 202);
      }
    }
  }
  .profile_view {
    width: 100%;
  }
}
