@import "../../assets/global.scss";
.navbar_main {
  padding: 10px;
  width: 100%;
  background-color: rgb(170, 170, 170);
  .navbar_size {
    margin: auto;
    width: 1280px;
    display: flex;
    .logo {
      width: 100px;
      height: 50px;
      img {
        width: 100%;
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      a {
        @include navbarLink;
      }
    }
    .flex {
      flex: 1;
    }
    .profile_buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        @include navbarLink;
      }
    }
  }
}
