@import "../../assets/global.scss";

.main {
  @include mainContainer;
  .formDiv {
    @include formDiv;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      label {
        font-size: 22px;
        margin-bottom: 5px;
      }
      input {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid black;
      }
    }
    button {
      width: 100%;
      margin: 10px 0px !important;
      @include greyButton;
    }
  }
}

.responseDiv {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

.success {
  background-color: #00800045;
}
.error {
  background-color: #80000045;
}
